<!DOCTYPE html>
<!-- html -->
<html>
<!-- head -->

<head>
    <link rel="icon" href="" type="image/png" sizes="16x16">
    <title>WEPAYS </title>
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" /><!-- bootstrap-CSS -->
    <link rel="stylesheet" href="css/bootstrap-select.css"><!-- bootstrap-select-CSS -->
    <link href="css/font-awesome.css" rel="stylesheet" type="text/css" media="all" /><!-- Fontawesome-CSS -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type='text/javascript' src='js/jquery-2.2.3.min.js'></script>
    <!-- Custom Theme files -->
    <!--theme-style-->
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!--//theme-style-->
    <!--meta data-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Online Recharge Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script
        type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--//meta data-->
    <!-- online fonts -->
    <link
        href="//fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext,vietnamese"
        rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Oxygen:300,400,700&amp;subset=latin-ext" rel="stylesheet">
    <link
        href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
        rel="stylesheet">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!-- /online fonts -->

</head>
<!-- //head -->
<!-- body -->

<body onload="myFunction()">
    <!--header-->
    <header>
        <div class="container">
            <!--logo-->
            <div class="logo">
                <!-- <a href="/"><h1><img src="images/logo.png" alt="" height="40px" width="50px"></h1></a>  -->
                <a href="/">
                    <h1 style="color: #df0000"> WEPAYS <span style="color:#123f6d"> </span> </h1>
                </a>
            </div>
            <!--//logo-->
            <div class="w3layouts-login">
                <a data-toggle="modal" data-target="#myModal" href="#" style="font-size:20px; color: #123f6d"><i
                        class="glyphicon glyphicon-user">
                    </i> Login/Register</a>
            </div>
            <div class="clearfix"></div>
            <!--Login modal-->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;</button>
                            <h4 class="modal-title" id="myModalLabel" style="color:#123f6d85">
                                WEPAYS </h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-8 extra-w3layouts"
                                    style="border-right: 1px dotted #C2C2C2;padding-right: 30px;">
                                    <!-- Nav tWEPAYS -->

                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="Login">
                                            <form action="/users/login" method="POST" class="form-horizontal"
                                                encType="multipart/form-data">
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">
                                                        Unique ID</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control" placeholder="Unique ID"
                                                            required="required" name="uniqueId" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">
                                                        Mobile Number</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control"
                                                            placeholder="Mobile Number" required="required"
                                                            name="number" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">
                                                        Password</label>
                                                    <div class="col-sm-8">
                                                        <input type="password" class="form-control"
                                                            placeholder="password" required="required"
                                                            name="password" />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-2">
                                                    </div>
                                                    <div class="col-sm-10">
                                                        <center> <button type="submit" style="background:#123f6d"
                                                                class="submit btn btn-primary btn-sm">
                                                                Login</button> </center>

                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 extra-agileits">
                                    <div class="row text-center sign-with">
                                        <div class="col-md-12">
                                            <h3 class="other-nw">
                                                Login In to</h3>
                                        </div>
                                        <!-- <div class="col-md-12">
                                                <img src="/images/logo.png" alt="GA" height="90px" width="100px">
                                            </div> -->
                                        <div class="col-md-12">
                                            <h1 style="color: #df0000"> WEPAYS <span style="color:#123f6d"></span> </h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br><br>
                            Don't have an account <a href="/register">Register now!</a>
                        </div>
                    </div>
                </div>
                <!--//Login modal-->
            </div>
    </header>

    <!--//-->
    <div class=" header-right">
        <div class="banner">
            <div class="slider">
                <div class="callbacks_container">
                    <ul class="rslides" id="slider">
                        <!-- <li>
                            <div class="banner1">

                            </div>
                        </li> -->
                        <li>
                            <div class="banner1">

                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    @!section('content')



    <!--footer-->
    <footer>
        <div class="container-fluid">
            <div class="w3-agile-footer-top-at">
                <div class="col-md-2 agileits-amet-sed">
                    <h4>Company</h4>
                    <ul class="w3ls-nav-bottom">
                        <li><a href="/about">About Us</a></li>
                        <li><a href="/support">Support</a></li>
                        <li><a href="/sitemap">Sitemap</a></li>
                        <li><a href="/termsandconditions">Terms & Conditions</a></li>
                        <li><a href="/privacy">Privacy Policy</a></li>
                        <li><a href="/feedback">Feedback</a></li>
                        <li><a href="/contact">Contact</a></li>

                    </ul>
                </div>
                <div class="col-md-3 agileits-amet-sed ">
                    <h4>Mobile Recharges</h4>
                    <ul class="w3ls-nav-bottom">
                        <li><a href="#" class="scroll">Airtel</a></li>
                        <li><a href="#" class="scroll">Aircel</a></li>
                        <li><a href="#" class="scroll">Vodafone</a></li>
                        <li><a href="#" class="scroll">BSNL</a></li>
                        <li><a href="#" class="scroll">Tata Docomo</a></li>
                        <li><a href="#" class="scroll">Reliance GSM</a></li>
                        <li><a href="#" class="scroll">Reliance CDMA</a></li>
                        <li><a href="#" class="scroll">Telenor</a></li>
                        <li><a href="#" class="scroll">MTS</a></li>
                        <li><a href="#" class="scroll">Jio</a></li>
                    </ul>
                </div>
                <div class="col-md-3 agileits-amet-sed ">
                    <h4>DATACARD RECHARGES</h4>
                    <ul class="w3ls-nav-bottom">
                        <li><a href="#" class="scroll">Tata Photon</a></li>
                        <li><a href="#" class="scroll">MTS MBlaze</a></li>
                        <li><a href="#" class="scroll">MTS MBrowse</a></li>
                        <li><a href="#" class="scroll">Airtel</a></li>
                        <li><a href="#" class="scroll">Aircel</a></li>
                        <li><a href="#" class="scroll">BSNL</a></li>
                        <li><a href="#" class="scroll">MTNL Delhi</a></li>
                        <li><a href="#" class="scroll">Vodafone</a></li>
                        <li><a href="#" class="scroll">Idea</a></li>
                        <li><a href="#" class="scroll">MTNL Mumbai</a></li>
                        <li><a href="#" class="scroll">Tata Photon Whiz</a></li>
                    </ul>
                </div>
                <div class="col-md-2 agileits-amet-sed">
                    <h4>DTH Recharges</h4>
                    <ul class="w3ls-nav-bottom">
                        <li><a href="#" class="scroll"> Airtel Digital TV Recharges</a></li>
                        <li><a href="#" class="scroll">Dish TV Recharges</a></li>
                        <li><a href="#" class="scroll">Tata Sky Recharges</a></li>
                        <li><a href="#" class="scroll">Reliance Digital TV Recharges</a></li>
                        <li><a href="#" class="scroll">Sun Direct Recharges</a></li>
                        <li><a href="#" class="scroll">Videocon D2H Recharges</a></li>
                    </ul>
                    <br>
                    <br>
                </div>
                <div class="col-md-2 agileits-amet-sed ">
                    <h4>Payment Options</h4>
                    <ul class="w3ls-nav-bottom">
                        <li>Credit Cards</li>
                        <li>Debit Cards</li>
                        <li>Any Visa Debit Card (VBV)</li>
                        <li>Direct Bank Debits</li>
                        <li>Cash Cards</li>
                    </ul>
                </div>

                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="w3l-footer-bottom">
            <div class="container-fluid">
                <div class="col-md-4 w3-footer-logo">
                    <div class="logo">
                        <div class="logo">
                            <!-- <h1><img src="images/logo.png" alt="" height="50px" width="60px"></h1> -->
                            <a href="/">
                                <h1 style="color: #df0000"> WEPAYS <span style="color:#123f6d"> </span></h1>
                            </a>
                        </div>
                    </div>
                    <!-- <h2><a href="index.html">Sri Gana Services</a></h2> -->
                </div>
                <div class="col-md-8 agileits-footer-class">
                    <p>© 2019 WEPAYS .Designed and Developed by Alpha Technologies</p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </footer>
    <!--//footer-->

    <!-- for bootstrap working -->
    <script src="js/bootstrap.js"></script>
    <!-- //for bootstrap working -->
    <!-- Responsive-slider -->
    <!-- Banner-slider -->
    <script src="js/responsiveslides.min.js"></script>
    <script>
        $(function () {
            $("#slider").responsiveSlides({
                auto: true,
                speed: 500,
                namespace: "callbacks",
                pager: true,
            });
        });
    </script>
    <!-- //Banner-slider -->
    <!-- //Responsive-slider -->
    <!-- Bootstrap select option script -->
    <script src="js/bootstrap-select.js"></script>
    <script>
        $(document).ready(function () {
            var mySelect = $('#first-disabled2');

            $('#special').on('click', function () {
                mySelect.find('option:selected').prop('disabled', true);
                mySelect.selectpicker('refresh');
            });

            $('#special2').on('click', function () {
                mySelect.find('option:disabled').prop('disabled', false);
                mySelect.selectpicker('refresh');
            });

            $('#basic2').selectpicker({
                liveSearch: true,
                maxOptions: 1
            });
        });
    </script>
    <!-- //Bootstrap select option script -->

    <!-- easy-responsive-tWEPAYS -->
    <link rel="stylesheet" type="text/css" href="css/easy-responsive-tWEPAYS.css " />
    <script src="js/easyResponsiveTWEPAYS.js"></script>
    <!-- //easy-responsive-tWEPAYS -->
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear' 
                };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="js/move-top.js"></script>
    <script type="text/javascript" src="js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
    <!-- //here ends scrolling icon -->
</body>
<!-- //body -->

</html>
<!-- //html -->