@layout('layouts.app')

@section('content')
<!-- breadcrumbs -->
<div class="w3layouts-breadcrumbs text-center" style="background:#123f6d">
  <div class="container">
    <span class="agile-breadcrumbs"><a href="index.html"><i class="fa fa-home home_1"></i></a> /
      <span>Sitemap</span></span>
  </div>
</div>
<!-- //breadcrumbs -->

<!-- Sitemap-page -->
<div class="icons w3layouts-content">
  <div class="container">
    <h3 class="w3-head" style="color:#123f6d">Sitemap</h3>
    <!-- sitemap -->
    <div class="sitemap">
      <div class="col-md-6 sitemap-grid">
        <h4 style="color:#123f6d">Online mobile Rechange and Bill payment</h4>
        <ul>
          <li><a href="#"><i class="fa fa-long-arrow-right"
                aria-hidden="true"></i>Airtel</a></li>
          <li><a href="#"><i class="fa fa-long-arrow-right"
                aria-hidden="true"></i>Aircel</a></li>
          <li><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Tata
              Docomo</a></li>
          <li><a href="#"><i class="fa fa-long-arrow-right"
                aria-hidden="true"></i>BSNL</a></li>
          <li><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Tata
              Docomo</a></li>
          <li><a href="#"><i class="fa fa-long-arrow-right"
                aria-hidden="true"></i>Reliance GSM</a></li>
          <li><a href="#"><i class="fa fa-long-arrow-right"
                aria-hidden="true"></i>Reliance CDMA</a></li>
          <li><a href="#"><i class="fa fa-long-arrow-right"
                aria-hidden="true"></i>Telenor</a></li>
          <li><a href="#"><i class="fa fa-long-arrow-right"
                aria-hidden="true"></i>MTS</a></li>
          <li><a href="#"><i class="fa fa-long-arrow-right"
                aria-hidden="true"></i>Jio</a></li>
        </ul>

        <h4 style="color:#123f6d">Online DTH(TV) Recharge</h4>
        <ul>
          <li><a href="#"><i class="fa fa-long-arrow-right"
                aria-hidden="true"></i>Airtel Digital TV Recharges</a></li>
          <li><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Dish
              TV Recharges</a></li>
          <li><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Tata
              Sky Recharges</a></li>
          <li><a href="#"><i class="fa fa-long-arrow-right"
                aria-hidden="true"></i>Reliance Digital TV Recharges</a></li>
          <li><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Sun
              Direct Recharges</a></li>
          <li><a href="#"><i class="fa fa-long-arrow-right"
                aria-hidden="true"></i>Videocon D2H Recharges</a></li>
        </ul>
      </div>
      <div class="col-md-6 sitemap-grid">


        <h4 style="color:#123f6d">Site</h4>
        <ul>
          <li><a href="/about"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>About</a></li>
          <li><a href="/support"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Support</a></li>
          <li><a href="/tac"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Terms & Conditions</a></li>
          <li><a href="/feedback"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Feedback</a></li>
          <li><a href="/contact"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Contact</a></li>
          <li><a href="/privacy"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Privacy Policy</a></li>

        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
    <!-- /sitemap -->
  </div>
</div>
<!--//Sitemap-page-->
@endsection