<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>WEPAYS PAYMENT SOLUTIONS : Home</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="https://placehold.it/64.png/000/fff">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="https://placehold.it/144.png/000/fff">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="https://placehold.it/114.png/000/fff">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="https://placehold.it/72.png/000/fff">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="https://placehold.it/57.png/000/fff">

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="/assets/css/lib/weather-icons.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/lib/owl.carousel.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/lib/owl.theme.default.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/lib/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/lib/themify-icons.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/lib/menubar/sidebar.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/lib/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/lib/helper.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://code.iconify.design/1/1.0.3/iconify.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body onload="myFunction()">
    @if(messages.user_cancelled)
    <script>
        function myFunction() {
            swal({
                title: "User Cancelled",
                timer: 6000,
                showConfirmButton: false
            });
        };
    </script>
    @endif
    @if(messages.success)
    <script>
        function myFunction() {
            swal({
                title: "Recharge Successfull Transaction Id : " + '{{txnid}}' + "Status : Success " + "Amount : " + '{{amount}}',
                timer: 6000,
                showConfirmButton: false
            });
        };
    </script>
    @endif
    @if(messages.Tampered)
    <script>
        function myFunction() {
            swal({
                title: "Your transaction has been Tampered, Please retry. ",
                timer: 6000,
                showConfirmButton: false
            });
        };
    </script>
    @endif
    @if(messages.failed)
    <script>
        function myFunction() {
            swal({
                title: "Failed",
                text: "Transaction Id : " + '{{txnid}}' + "Status : Failure " + "Amount : " + "{{amount}}",
                timer: 6000,
                icon: "error",
                showConfirmButton: false
            });
        };
    </script>
    @endif
    <div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
        <div class="nano">
            <div class="nano-content">
                <div class="logo"><a href="#"><span style="color: rgb(25, 124, 216)">WEPAYS PAYMENT SOLUTIONS</span></a>
                </div>
                <ul>
                    <li class="label">Main</li>
                    @if(Admin)
                    <li><a href="auth/login"><i class="ti-home"></i>Admin
                            Dashboard <span class="badge badge-primary"></span></a>
                        @endif
                        @if(!Admin)
                    <li><a href="auth/login"><i class="ti-home"></i> Dashboard
                            <span class="badge badge-primary"></span></a>
                        @endif
                        <!-- <ul>
                                <li><a href="index.html">Dashboard 1</a></li>
                                <li><a href="index1.html">Dashboard 2</a></li>
                            </ul> -->
                    </li>

                    <li class="label">Services</li>
                    <li><a href="/topUp"><i class="ti-money"></i> Mobile Recharge </a></li>
                    <li><a href="/dth"><i class="ti-blackboard"></i> DTH</a></li>
                    <li><a href="/electricity"><i class="fa fa-lightbulb-o"></i>
                            Electricity</a></li>
                    <li><a href="/gas"><i class="fa fa-fire"></i>
                            Gas</a></li>
                    <li><a href="/water"><span class="iconify" data-icon="ion-waterdrop"
                                data-inline="false"></span>&nbsp;&nbsp;&nbsp;&nbsp; Water</a></li>
                    <li><a href="/broadband"><i class="material-icons">router</i>
                            Broadband</a></li>
                    <li class="label">Features</li>
                    @if(Admin)
                    <li><a class="sidebar-sub-toggle"><i class="ti-face-smile"></i> Users <span
                                class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li><a href="/auth/distubitors">Users Details</a></li>
                        </ul>
                    </li>
                    @endif
                    <li><a href="/auth/viewProfile"><i class="ti-user"></i> Profile</a></li>
                    <li><a href="/auth/transactions"><i class="ti-notepad"></i> Transactions</a>
                    <li><a href="/auth/contactUs"><i class="ti-file"></i>ContactUs</a></li>
                    @if(users.memberstatus == "active")
                    <li class="active"><a href="/topUp"><i class="ti-money"></i>Top Up</a></li>
                    @endif
                    <li><a href="/auth/logout"><i class="ti-close"></i> Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /# sidebar -->


    <div class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="float-left">
                        <div class="hamburger sidebar-toggle">
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                        </div>
                    </div>
                    <div class="float-right">
                        <ul>

                            <li class="header-icon dib"><span class="user-avatar">{{users.name}} <i
                                        class="ti-angle-down f-s-10"></i></span>
                                <div class="drop-down dropdown-profile">
                                    <div class="dropdown-content-body">
                                        <ul>
                                            <li><a href="/auth/viewProfile"><i class="ti-user"></i>
                                                    <span>Profile</span></a></li>
                                            <li><a href="/auth/logout"><i class="ti-power-off"></i>
                                                    <span>Logout</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="content-wrap">
        <div class="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8 p-r-0 title-margin-right">
                        <div class="page-header">
                            <div class="page-title">
                                <h1>Hello, <span>Welcome Here</span></h1>
                            </div>
                        </div>
                    </div>
                    <!-- /# column -->
                    <div class="col-lg-4 p-l-0 title-margin-left">
                        <div class="page-header">
                            <div class="page-title">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                                    <li class="breadcrumb-item active">Top Up</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <!-- /# column -->
                </div>
                <section id="main-content">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-title">
                                    <h4>Mobile Recharge</h4>

                                </div>
                                <div class="card-body">
                                    <div class="basic-form">
                                        <form method="POST" action="/storeOrder" id="myForm"
                                            encType="multipart/form-data">
                                            <div class="form-group">
                                                <label>Mobile Number</label>
                                                <input type="text" name="mobileNumber" class="form-control"
                                                    placeholder="Mobile Number" required>
                                            </div>
                                            <div class="form-group">
                                                <label>Prepaid/Postpaid</label>
                                                <select>
                                                    <option value="Prepaid">Prepaid</option>
                                                    <option value="Postpaid">Postpaid</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>Operator</label>
                                                <select>
                                                    <option value="Airtel">Airtel</option>
                                                    <option value="Idea">Idea</option>
                                                    <option value="Jio">Jio</option>
                                                    <option value="Vodafone">Vodafone</option>
                                                    <option value="Bsnl">Bsnl</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>Circle</label>
                                                <select>
                                                    <option value="Andrapradesh">Andrapradesh</option>
                                                    <option value="Telangana">Telangana</option>
                                                    <option value="TamilNadu">Tamilnadu</option>
                                                    <option value="Maharastra">Maharastra</option>
                                                    <option value="Kerala">Kerala</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>Amount</label>
                                                <input type="text" class="form-control" name="amount" id="amount"
                                                    placeholder="Amount">
                                            </div>
                                            <input type="text" class="form-control" name="mode" value="topup"
                                                style="display: none;">
                                            <input type="hidden" name="firstname" value="{{users.name}}" />
                                            <input type="hidden" name="lastname" value="" />
                                            <input type="hidden" name="surl" value="http://wepays.in/pgresponse" />
                                            <input type="hidden" name="phone" value="{{users.number}}" />
                                            <input type="hidden" name="key" value="grKS7G" />
                                            <input type="hidden" name="hash" id="hash" value="" />
                                            <input type="hidden" name="curl" value="http://wepays.in/pgresponse" />
                                            <input type="hidden" name="furl" value="http://wepays.in/pgresponse" />
                                            <input type="hidden" name="txnid" id="txnid" value="" />
                                            <input type="hidden" name="productinfo" value="Recharge" />
                                            <input type="hidden" name="email" value="{{users.email}}" />
                                            <input type="submit" value="Recharge"
                                                class="btn btn-success btn-rounded m-b-10 m-l-5">
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- /# column -->
                        <!-- /# row -->

                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-title">
                                    <h4>Recent Transactions</h4>

                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>

                                                    <th>Invoice No</th>
                                                    <th>Status</th>
                                                    <th>Amount</th>
                                                    <th>Date/Time</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @each(transaction in transactions)
                                                @if($loop.index+1 > $loop.total -3)
                                                <tr>
                                                    <td>{{transaction.txnid}}</td>
                                                    <td>{{transaction.status}}</td>
                                                    <td>{{transaction.amount}}</td>
                                                    <td>{{transaction.addedon}}</td>
                                                </tr>
                                                @endif
                                                @endeach
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /# column -->

                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="footer">
                                <p>2019 © WEPAYS PAYMENT SOLUTIONS USER Board. - Developed by Alpha Technologies <a
                                        href="#">example.com</a></p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div id="search">
        <button type="button" class="close">×</button>
        <form>
            <input type="search" value="" placeholder="type keyword(s) here" />
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
    <!-- jquery vendor -->
    <script src="/assets/js/lib/jquery.min.js"></script>
    <script src="/assets/js/lib/jquery.nanoscroller.min.js"></script>
    <!-- nano scroller -->
    <script src="/assets/js/lib/menubar/sidebar.js"></script>
    <script src="/assets/js/lib/preloader/pace.min.js"></script>
    <!-- sidebar -->
    <script src="/assets/js/lib/bootstrap.min.js"></script>

    <!-- bootstrap -->

    <script src="/assets/js/lib/circle-progress/circle-progress.min.js"></script>
    <script src="/assets/js/lib/circle-progress/circle-progress-init.js"></script>

    <script src="/assets/js/lib/morris-chart/raphael-min.js"></script>
    <script src="/assets/js/lib/morris-chart/morris.js"></script>
    <script src="/assets/js/lib/morris-chart/morris-init.js"></script>

    <!--  flot-chart js -->
    <script src="/assets/js/lib/flot-chart/jquery.flot.js"></script>
    <script src="/assets/js/lib/flot-chart/jquery.flot.resize.js"></script>
    <script src="/assets/js/lib/flot-chart/flot-chart-init.js"></script>
    <!-- // flot-chart js -->


    <script src="/assets/js/lib/vector-map/jquery.vmap.js"></script>
    <!-- scripit init-->
    <script src="/assets/js/lib/vector-map/jquery.vmap.min.js"></script>
    <!-- scripit init-->
    <script src="/assets/js/lib/vector-map/jquery.vmap.sampledata.js"></script>
    <!-- scripit init-->
    <script src="/assets/js/lib/vector-map/country/jquery.vmap.world.js"></script>
    <!-- scripit init-->
    <script src="/assets/js/lib/vector-map/country/jquery.vmap.algeria.js"></script>
    <!-- scripit init-->
    <script src="/assets/js/lib/vector-map/country/jquery.vmap.argentina.js"></script>
    <!-- scripit init-->
    <script src="/assets/js/lib/vector-map/country/jquery.vmap.brazil.js"></script>
    <!-- scripit init-->
    <script src="/assets/js/lib/vector-map/country/jquery.vmap.france.js"></script>
    <!-- scripit init-->
    <script src="/assets/js/lib/vector-map/country/jquery.vmap.germany.js"></script>
    <!-- scripit init-->
    <script src="/assets/js/lib/vector-map/country/jquery.vmap.greece.js"></script>
    <!-- scripit init-->
    <script src="/assets/js/lib/vector-map/country/jquery.vmap.iran.js"></script>
    <!-- scripit init-->
    <script src="/assets/js/lib/vector-map/country/jquery.vmap.iraq.js"></script>
    <!-- scripit init-->
    <script src="/assets/js/lib/vector-map/country/jquery.vmap.russia.js"></script>
    <!-- scripit init-->
    <script src="/assets/js/lib/vector-map/country/jquery.vmap.tunisia.js"></script>
    <!-- scripit init-->
    <script src="/assets/js/lib/vector-map/country/jquery.vmap.europe.js"></script>
    <!-- scripit init-->
    <script src="/assets/js/lib/vector-map/country/jquery.vmap.usa.js"></script>
    <!-- scripit init-->
    <script src="/assets/js/lib/vector-map/vector.init.js"></script>

    <script src="/assets/js/lib/weather/jquery.simpleWeather.min.js"></script>
    <script src="/assets/js/lib/weather/weather-init.js"></script>
    <script src="/assets/js/lib/owl-carousel/owl.carousel.min.js"></script>
    <script src="/assets/js/lib/owl-carousel/owl.carousel-init.js"></script>
    <script src="/assets/js/scripts.js"></script>

    <!-- scripit init-->

</body>

</html>